footer{
    background-color: #23549F;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

footer a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover{
    text-decoration: underline;
    scale: 1.1;
}

footer i{
    font-size: 20px;
    margin-right: 10px;
}

footer .left{
    display: flex;
    align-items: center;
}

