@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

* {
  /* Change your font family */
  font-family: 'Raleway', 'sans-serif';
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(20, 171, 115, 0.15);
}

.content-table thead tr {

  color: #924b4b;
  text-align: left;
  font-weight: bold;
}

.heading {
  color: #faf8f8;
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  box-shadow: 2px solid #17edc2;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #360675;
  /* background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%); */
}

.phone {
  color: #060606;
  text-align: left;
  font-weight: bold;
}

@media(max-width:720px) {
  .content-table{
    font-size: 0.7em;
  }
}