@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {

    /* Colors */
    --dark-blue: #23549F;
    --medium-blue: #406595;
    --light-blue: #4BA5E8;
    --dark-red: #992A35;
    --light-red: #C9383A;
    --light-gray: #F1F1F1;
    --medium-light-gray: #94969A;
    --medium-gray: #3D4043;
    --dark-gray: #292A2D;
    --darker-gray: #202124;

    --heading-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'sans-serif';
    background: #fff;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    width: 95vw;
    margin: 0 auto;
}

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 30px;
}

.web-name {
    display: flex;
    align-items: center;
}

.web-name h1 {
    padding-right: 5px;
}

.fa-solid {
    font-size: 1.5rem;
    background-color: var(--dark-red);
    color: #fff;
    padding: 12px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.fa-solid:hover {
    background-color: var(--light-red);
    cursor: pointer;
    transform: scale(1.05);
}

.nav-bar {
    background: #23549F;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-bar ul li a {
    display: flex;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    width: 15em;
    display: block;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.nav-bar ul li a:hover {
    background: #406595;
}

.hide {
    display: none;
}

.banner {
    min-height: auto;
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.banner-image {
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
}

.banner-main-content {
    padding: 0 2rem;
    line-height: 1.7;
}

h2 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

#all-news-heading {
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: var(--heading-font);
}

.banner-main-content h2 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

h3 {
    margin: 1rem 0;
}

.current-news-head {
    background-color: #fff;
    font-size: 14px;
    margin: 20px 0;
}

.current-news-head span {
    display: block;
    font-family: var(--heading-font);
    font-weight: 300;
    text-transform: uppercase;
}

.all-news {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 20px;
    padding-right: 20px;
    gap: 1rem;
}

.news-blocks {
    padding: 1rem;
    height: 15rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    .all-news {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .all-news {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media(max-width:800px) {
    .nav-bar ul li a {
        width: 5em;
    }

    .nav-bar ul {
        margin-left: -25px;
    }

    .web-name h4 {
        display: none;
    }

    .banner-image {
        display: none;
    }
}