:root{
    --dark-blue: #23549F;
    --medium-blue: #406595;
    --light-blue: #4BA5E8;
    --dark-red: #992A35;
    --light-red: #C9383A;
    --light-gray: #F1F1F1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: var(--light-gray);
}

.topborder{
    position: fixed;
    width: 100%;
    height: 20px;
    background: var(--medium-blue);
    transition: top 0.3s;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #000;
    overflow: hidden;
    position: fixed;
    top: 20px;
    width: 100%;
    height: 70px;
    transition: all 0.3s;
    border-bottom: 1px solid #ccc;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 60px;
    height: 60px;
    margin: 10px;
}

nav .logo h1{
    font-size: 20px;
    margin-left: 10px;
}

nav .logo h4{
    font-size: 17px;
    margin: 10px;
}

nav .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links:last-child{
    margin-right: 20px;
}

nav .nav-links li{
    height: 100%;
    list-style: none;
    margin: 0 10px;
}

nav .nav-links li a{
    text-decoration: none;
    color: #000;
}

nav .nav-links li a:hover{
    color: #4AA3CA;
}

@media screen and (max-width: 768px){
    nav .logo h4{
        display: none;
    }
}