@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
    --dark-blue: #23549F;
    --medium-blue: #406595;
    --light-blue: #4BA5E8;
    --dark-red: #992A35;
    --light-red: #C9383A;
    --lighter-red: #C8363A;
    --heading-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: #fff;
}

.wrapper {
    max-width: 450px;
    width: 100%;
    margin: 30px auto 0;
    padding: 10px;
}

.wrapper .form_container {
    background: #fff;
    padding: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.heading {
    background: #000000;
    margin: -30px;
    text-align: center;
    color: white;
    font-size: 19px;
    margin-bottom: 35px;
    padding: 10px;
}

.wrapper .form_container .form_item {
    margin-bottom: 25px;
}

.form_wrap.fullname,
.form_wrap.select_box {
    display: flex;
}

.form_wrap.fullname .form_item,
.form_wrap.select_box .form_item {
    width: 50%;
}

.form_wrap.fullname .form_item:first-child,
.form_wrap.select_box .form_item:first-child {
    margin-right: 4%;
}

.wrapper .form_container .form_item label {
    display: block;
    margin-bottom: 5px;
}

.form_item input[type=”text”],
.form_item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.btn input[type=”submit”] {
    /* background: #1598d4; */
    /* border: 1px solid #1598d4; */
    padding: 10px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.signupbtn {
    /* background-color: black; */
    color: #fff;

    padding: 1% 10%;
    border-radius: 20px;
}

.btn-grad {
    background-image: linear-gradient(to right, var(--dark-blue) 0%, var(--medium-blue) 51%, var(--light-blue) 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border: 0px;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.inputbox {
    border: 0px;
    background: rgb(230, 229, 229);
    border-radius: 15px;
    padding: 1rem;
    width: 100%;

}

.logina {
    color: rgb(1, 1, 111);
}