.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: -20px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

input[type="file"] {
  margin-bottom: 30px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: blue;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

#preview {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid gray;
}
